#main-content{
	min-height: 500px;
}

label.error {
	color:red;
}
input.error {
	border:1px solid red;
}


.success{
  font-weight: bold;
  color: green;
}

.error{
  font-weight: bold;
  color: red;
}
